$white: rgb(255, 255, 255); // fondo
$grey_light: rgb(246, 246, 246); // relieve
$grey_dark_light: rgb(180, 180, 180); // detalles
$grey_dark_bold: rgb(110, 110, 110); // color tarjeta
$black_alpha: rgba(0, 0, 0, 0.25);
$border: 1px solid $black_alpha;
$w_i: rgba(255, 255, 255, 0.25) inset;
$sh_out: 0 0 3px $black_alpha;
$sh_out_big: 0 0 5px $black_alpha;
$sh_in_top: 0 +1px 1px $w_i;
$sh_in_right: +1px 0 1px $w_i;
$sh_in_bottom: 0 -1px 1px $w_i;
$sh_in_left: -1px 0 1px $w_i;
$sh_in: $sh_in_top, $sh_in_right, $sh_in_bottom, $sh_in_left;
$footer_size: 0.8em;

* {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
  body {
    min-height: 100vh;
    main {
      min-height: calc(100vh - 105px - 47px);
    }
  }
}
button {
  cursor: pointer;
}
hr {
  border: none;
  border-top: 1px solid $grey_dark_light;
  margin: 0;
}
body {
  header {
    padding: 32px;
    background-color: $grey_light;
    border-bottom: $border;
    box-shadow: $sh_out, $sh_in_bottom;
    display: flex;
    #search_box {
      display: inline-block;
      margin: 0 auto;
      position: relative;
      input {
        background-color: $white;
        border: $border;
        border-radius: 20px;
        box-shadow: none;
        box-sizing: border-box;
        height: 40px;
        outline: none;
        padding-left: 16px;
        padding-right: 46px;
        width: 360px;
      }
      input:focus,
      input:hover {
        box-shadow: $sh_out;
      }
      input::placeholder {
        color: $grey_dark_light;
      }
      button {
        background-color: transparent;
        border: none;
        border-radius: 20px;
        height: 40px;
        outline: none;
        position: absolute;
        right: 6px;
        top: 0;
        width: 40px;
        span {
          display: flex;
          height: 28px;
          margin: auto;
          width: 28px;
          img {
            height: 28px;
            width: 28px;
          }
        }
      }
    }
  }
  main {
    box-sizing: border-box;
    padding: 48px;
    position: relative;
    #card_box {
      display: flex;
      flex-wrap: wrap;
      max-width: 960px;
      margin: 0 auto;
      justify-content: center;
      .card {
        cursor: default;
        animation: card_appear 0.8s 1 cubic-bezier(0.65, 0.05, 0.36, 1);
        background-color: $grey_light;
        border: $border;
        border-radius: 2px;
        box-shadow: $sh_out, $sh_in;
        color: $grey_dark_bold;
        display: inline-block;
        height: min-content;
        padding: 1px;
        position: relative;
        text-align: left;
        transform-origin: top;
        user-select: none;
        margin: 16px;
        div > p {
          padding: 0 9px;
          padding-top: 7px;
          padding-bottom: 5px;
        }
        span {
          margin-right: 9px;
        }
        hr {
          border-bottom: 1px solid $white;
          margin-top: 1px;
        }
        .content {
          height: min-content;
          min-width: 162px;
          width: min-content;
          .head_box {
            position: relative;
            cursor: help;
            .name {
              color: $grey_dark_light;
              padding: 0 9px;
              padding-top: 7px;
              padding-bottom: 5px;
              margin: 0 30px 0 23px;
              font-style: italic;
              padding-left: 0;
              padding-right: 0;
            }
            div.place_div,
            div.flag_div {
              height: 30px;
              position: absolute;
              top: 0px;
            }
            div.place_div {
              left: 0px;
              width: 30px;
              span {
                display: flex;
                height: 14px;
                margin: auto;
                margin-top: 8px;
                width: 14px;
                img {
                  height: 14px;
                  width: 14px;
                }
              }
            }
            div.flag_div {
              right: 0px;
              width: 30px;
              span {
                display: flex;
                height: 16px;
                margin: auto;
                margin-top: 7px;
                width: 16px;
                img {
                  height: 16px;
                  width: 16px;
                }
              }
            }
          }
          .temp_box {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-rows: min-content;
            grid-template-areas:
              "temp temp_max"
              "temp temp_min";
            .temp {
              grid-area: temp;
              font-size: 3.5em;
              font-weight: 100;
              line-height: 1em;
              padding: 0;
              padding-left: 9px;
              padding-top: 2px;
              padding-bottom: 1px;
            }
            .temp_max {
              grid-area: temp_max;
              margin-right: auto;
            }
            .temp_min {
              grid-area: temp_min;
              padding-top: 0;
              margin-right: auto;
            }
          }
          .desc_box {
            position: relative;
            .desc {
              margin-right: 30px;
            }
            .desc::first-letter {
              text-transform: uppercase;
            }
            div {
              display: flex;
              height: 30px;
              position: absolute;
              right: 0;
              top: 0;
              width: 30px;
              span {
                display: flex;
                height: 16px;
                margin: auto;
                width: 16px;
                img {
                  height: 16px;
                  width: 16px;
                }
              }
            }
          }
          .others_box {
            div {
              p {
                padding-top: 0px;
                padding-left: 9px;
                padding-right: 9px;
                padding-bottom: 5px;
              }
              * {
                display: inline-block;
              }
            }
            div:first-child p {
              padding-top: 7px;
            }
          }
          .control_box {
            height: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            div {
              margin: auto;
              height: min-content;
              width: max-content;
              .time {
                margin: 0;
                color: $grey_dark_light;
              }
            }
            .close,
            .refresh {
              background: transparent;
              border-radius: 15px;
              border: none;
              height: 30px;
              outline: none;
              width: 30px;
              span {
                display: flex;
                height: 16px;
                margin: auto;
                width: 16px;
                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }
            .close:hover,
            .refresh:hover {
              background: radial-gradient(transparent 11px, $grey_dark_light 12px, transparent 13px);
            }
            .close:active,
            .refresh:active {
              background: radial-gradient($white 11px, $grey_dark_light 12px, transparent 13px);
            }
          }
        }
      }
    }
    #notification_box {
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      padding-top: 8px;
      padding-left: 8px;
      position: absolute;
      right: 0px;
      top: 8px;
      div {
        animation: notification 2.5s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
        margin-left: auto;
        transform: translateX(calc(100% + 16px));
        p {
          border-radius: 2px;
          box-shadow: $sh_out_big;
          box-sizing: border-box;
          margin-right: 16px;
          margin-bottom: 8px;
          padding: 8px 16px;
        }
      }
      div.info {
        p {
          background-color: rgb(220, 244, 255);
          border: 1px solid rgb(140, 190, 235);
          color: rgb(40, 120, 160);
        }
      }
      div.alert {
        p {
          background-color: rgb(255, 255, 244);
          border: 1px solid rgb(220, 200, 80);
          color: rgb(160, 120, 40);
        }
      }
      div.error {
        p {
          background-color: rgb(255, 242, 242);
          border: 1px solid rgb(235, 160, 140);
          color: rgb(160, 80, 80);
        }
      }
    }
  }
  footer {
    padding: 1em 2em;
    background-color: $grey_light;
    border-top: $border;
    box-shadow: $sh_out, $sh_in_top;
    color: $grey_dark_bold;
    #footer_box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        color: inherit;
        text-decoration: none;
        h1 {
          color: $grey_dark_bold;
          display: inline-block;
          font-family: monospace;
          font-size: $footer_size;
          line-height: 17px;
          span {
            color: $grey_dark_light;
            font-family: inherit;
            font-size: inherit;
            font-style: italic;
            line-height: 17px;
          }
        }
      }
      div {
        display: flex;
        span {
          height: min-content;
          margin: auto;
          p {
            display: inline-block;
            font-size: $footer_size;
            a {
              color: inherit;
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}
@media screen and (max-width: 1023px) and (min-width: 680px) {
  body {
    main {
      padding: 16px;
    }
  }
}
@media screen and (max-width: 679px) {
  body {
    header {
      #search_box {
        margin: 0 auto;
        input {
          width: 100%;
        }
      }
    }
    main {
      padding: 16px;
    }
    footer {
      #footer_box {
        flex-wrap: wrap;
      }
    }
  }
}

@keyframes card_updating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes card_appear {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(1);
  }
  to {
    opacity: 1;
  }
}
@keyframes notification {
  10% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  to {
    //
    transform: translateX(0);
    opacity: 0;
  }
}
