@-webkit-keyframes card_appear {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes card_appear {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes notification {
  from {
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
  }
}

@keyframes notification {
  from {
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
  }
}

@-webkit-keyframes rev {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rev {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

* {
  color: #6b6b6b;
  font-family: "Roboto", sans-serif, monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a,
em,
div,
li,
h1,
p,
span,
strong,
ul {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

strong {
  font-weight: 700;
}

em {
  color: #b5b5b5;
  font-style: italic;
}

hr {
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #0000000c;
  margin-top: 1px;
}

li {
  list-style: none;
}

a {
  -webkit-text-decoration-color: #b5b5b5;
          text-decoration-color: #b5b5b5;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto"), url(../fonts/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto"), url(../fonts/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url(../fonts/Roboto-Bold.ttf) format("truetype");
}

.btn {
  cursor: pointer;
}

.card {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: card_appear 0.1s 1 cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: card_appear 0.1s 1 cubic-bezier(0.65, 0.05, 0.36, 1);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px;
  min-width: 168px;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #fbfbfb;
  border: 1px solid #0000000c;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
  color: #6b6b6b;
  padding: 1px;
  /* &[imhere="true"] {
  } */
  /* .others {
    color: $grey_dark;
    justify-content: space-between;
    display: flex;
    div .icon {
    }
    div span {
    }
  } */
}

.card div > p,
.card div > h2 {
  padding: 0 9px;
}

.card .card_header {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card_header .name {
  margin: 8px 0 7px 0;
}

.card .card_header .name em {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}

.card .card_header .icon_small {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card .temp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
      grid-template-areas: "temp temp_max" "temp temp_min";
}

.card .temp span {
  margin-right: 9px;
}

.card .temp .temp_current {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: temp;
  font-size: 49px;
  font-weight: 100;
  line-height: 1em;
  margin-top: 4px;
}

.card .temp .temp_max {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: temp_max;
  margin-right: auto;
  margin-top: 8px;
}

.card .temp .temp_min {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: temp_min;
  margin-top: 7px;
  margin-bottom: 7px;
}

.card .desc {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .desc .desc {
  margin: 8px 0 7px 0;
  text-transform: capitalize;
}

.card .desc .icon_small {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card .card_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card_control .loading div:first-of-type {
  display: none;
}

.card .card_control .time {
  color: #b5b5b5;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin: auto 0;
  padding-top: 1px;
}

.icon {
  min-height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon span {
  margin: auto;
  height: 24px;
  width: 24px;
}

.icon span svg {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: #b5b5b5;
  height: 24px;
  width: 24px;
}

.icon span img {
  height: 24px;
  width: 24px;
}

.icon_small {
  min-height: 32px;
  min-width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon_small span {
  margin: auto;
  height: 16px;
  width: 16px;
}

.icon_small span svg {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: #b5b5b5;
  height: 16px;
  width: 16px;
}

.icon_small span img {
  height: 16px;
  width: 16px;
}

.icon_big {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon_big span {
  margin: auto;
  height: 24px;
  width: 24px;
}

.icon_big span svg {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: #b5b5b5;
  height: 24px;
  width: 24px;
}

.icon_big span img {
  height: 24px;
  width: 24px;
}

.perma_active span svg use, .btn:hover span svg use, .btn:active span svg use, .custom_radio_container .custom_radio:checked ~ .icon span svg use, .custom_radio_container .custom_radio_lbl:hover ~ .icon span svg use, .custom_radio_container .custom_radio_lbl:active ~ .icon span svg use, .custom_chk_container:hover .icon span svg use, .custom_chk_container:active .icon span svg use, .custom_chk_container.single_icon .custom_chk:checked ~ .icon span svg use {
  fill: #6b6b6b;
}

.chevron_down {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.isotipo {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-filter: drop-shadow(-1px 1px 2px #b5b5b5);
          filter: drop-shadow(-1px 1px 2px #b5b5b5);
}

.icon_loading {
  display: none;
}

.icon_loading span svg {
  -webkit-animation: none;
          animation: none;
}

.loading_box.loading .icon_loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading_box.loading .icon_loading span svg {
  -webkit-animation: rev 0.5s linear infinite;
          animation: rev 0.5s linear infinite;
}

.notification {
  -webkit-animation: notification 4s 1 cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: notification 4s 1 cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #ffffff;
  border: 1px solid #0000000c;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 4px #0000000c;
          box-shadow: 0 4px 4px #0000000c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  opacity: 0;
  -webkit-transform: translateX(100%) translate(32px);
          transform: translateX(100%) translate(32px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.notification p {
  color: #6b6b6b;
  font-family: monospace;
  margin: auto;
  line-height: 1em;
  padding: 0 12px 0 3px;
}

.notification.success .icon span svg use {
  fill: #26be00;
}

.notification.info .icon span svg use {
  fill: #0078ff;
}

.notification.alert .icon span svg use {
  fill: #ffc800;
}

.notification.error .icon span svg use {
  fill: #d20000;
}

.prediction {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 9px 7px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.prediction p {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  /* em {
    } */
}

.prediction > span {
  pointer-events: none;
  margin: auto 0;
}

.prediction:hover {
  background-color: #f4f4f4;
}

.prediction.active_prediction {
  background: #d9eeff;
}

#weather_maps {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  background-color: #fbfbfb;
  border: 1px solid #0000000c;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
  color: #6b6b6b;
  padding: 1px;
}

#weather_maps #weather_maps_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#weather_maps #weather_maps_header h3 {
  margin: 8px auto 7px 0;
  padding: 0 9px;
}

#weather_maps #weather_maps_header h3 em span {
  font-style: inherit;
}

#weather_maps #weather_maps_header button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#weather_maps #weather_maps_body.dragscroll {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  overflow-x: visible;
  /* #globe_box {
    } */
  /* #map_box {
    } */
  /* #labels {
    } */
}

@media screen and (max-width: 1199px) and (min-width: 680px) {
  #weather_maps #weather_maps_body.dragscroll {
    max-width: 512px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 679px) {
  #weather_maps #weather_maps_body.dragscroll {
    max-width: 256px;
    overflow-x: scroll;
  }
}

#weather_maps #weather_maps_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* #globe_controls {
    } */
}

#weather_maps #weather_maps_control #generic_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: right;
  margin-left: auto;
}

#weather_maps #mark_box {
  height: 512px;
  pointer-events: none;
  position: absolute;
  bottom: calc(1px + 32px + 4px + 18px + (3px * 3));
  width: 512px;
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  #weather_maps #mark_box {
    display: none !important;
  }
}

@media screen and (max-width: 679px) {
  #weather_maps #mark_box {
    height: 256px;
    width: 256px;
  }
  #weather_maps #mark_box div#mark_content {
    height: 256px;
    width: 256px;
  }
  #weather_maps #mark_box div#mark_content div#mark_left,
  #weather_maps #mark_box div#mark_content div#mark_right {
    height: 256px;
  }
  #weather_maps #mark_box div#mark_content div#mark_left::before,
  #weather_maps #mark_box div#mark_content div#mark_right::before {
    width: 7px;
    height: 256px;
  }
  #weather_maps #mark_box div#mark_content div#mark_left {
    left: 7px;
  }
  #weather_maps #mark_box div#mark_content div#mark_left::before {
    left: -7px;
  }
  #weather_maps #mark_box div#mark_content div#mark_right {
    right: 7px;
  }
  #weather_maps #mark_box div#mark_content div#mark_right::before {
    right: -7px;
  }
}

#weather_maps #mark_box #mark_content {
  position: relative;
  width: 512px;
  height: 512px;
}

#weather_maps #mark_box #mark_content #mark_left,
#weather_maps #mark_box #mark_content #mark_right {
  position: absolute;
  top: 0px;
  height: 512px;
}

#weather_maps #mark_box #mark_content #mark_left::before,
#weather_maps #mark_box #mark_content #mark_right::before {
  content: "";
  background-color: #fbfbfb;
  height: 512px;
  position: absolute;
  top: 0px;
  width: 14px;
}

#weather_maps #mark_box #mark_content #mark_left {
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfb), to(transparent));
  background: linear-gradient(to right, #fbfbfb 0%, transparent 100%);
  left: 14px;
  width: 0px;
}

#weather_maps #mark_box #mark_content #mark_left::before {
  left: -14px;
}

#weather_maps #mark_box #mark_content #mark_right {
  background: -webkit-gradient(linear, right top, left top, from(#fbfbfb), to(transparent));
  background: linear-gradient(to left, #fbfbfb 0%, transparent 100%);
  right: 14px;
  width: 32px;
}

#weather_maps #mark_box #mark_content #mark_right::before {
  right: -14px;
}

#ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#ref #ref_data {
  -ms-flex-line-pack: center;
      align-content: center;
  color: #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9px;
}

#ref #ref_data p {
  margin: auto 0;
  font-size: 12px;
}

#ref #ref_gradient_bg {
  position: absolute;
  background: url(../images/grad_bg.png);
  bottom: 0;
  width: 100%;
  height: 4px;
}

#ref .ref_gradient {
  height: 4px;
  z-index: 1;
}

.ref_gradient_1 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 247, 255, 0)), color-stop(10%, rgba(251, 247, 255, 0)), color-stop(20%, rgba(244, 248, 255, 0.1)), color-stop(30%, rgba(240, 249, 255, 0.2)), color-stop(40%, rgba(221, 250, 255, 0.4)), color-stop(50%, rgba(224, 224, 224, 0.6)), color-stop(60%, rgba(224, 224, 224, 0.76)), color-stop(70%, rgba(228, 228, 228, 0.9)), color-stop(80%, rgba(232, 232, 232, 0.9)), color-stop(90%, #eeeeee), color-stop(95%, #f4f4f4), to(#fafafa));
  background: linear-gradient(to right, rgba(247, 247, 255, 0) 0%, rgba(251, 247, 255, 0) 10%, rgba(244, 248, 255, 0.1) 20%, rgba(240, 249, 255, 0.2) 30%, rgba(221, 250, 255, 0.4) 40%, rgba(224, 224, 224, 0.6) 50%, rgba(224, 224, 224, 0.76) 60%, rgba(228, 228, 228, 0.9) 70%, rgba(232, 232, 232, 0.9) 80%, #eeeeee 90%, #f4f4f4 95%, #fafafa 100%);
}

.ref_gradient_2 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 247, 255, 0)), color-stop(10%, rgba(251, 247, 255, 0)), color-stop(20%, rgba(244, 248, 255, 0.1)), color-stop(30%, rgba(240, 249, 255, 0.2)), color-stop(40%, rgba(221, 250, 255, 0.4)), color-stop(50%, rgba(224, 224, 224, 0.6)), color-stop(60%, rgba(224, 224, 224, 0.76)), color-stop(70%, rgba(228, 228, 228, 0.9)), color-stop(80%, rgba(232, 232, 232, 0.9)), color-stop(90%, #eeeeee), color-stop(95%, #f4f4f4), to(#fafafa));
  background: linear-gradient(to right, rgba(247, 247, 255, 0) 0%, rgba(251, 247, 255, 0) 10%, rgba(244, 248, 255, 0.1) 20%, rgba(240, 249, 255, 0.2) 30%, rgba(221, 250, 255, 0.4) 40%, rgba(224, 224, 224, 0.6) 50%, rgba(224, 224, 224, 0.76) 60%, rgba(228, 228, 228, 0.9) 70%, rgba(232, 232, 232, 0.9) 80%, #eeeeee 90%, #f4f4f4 95%, #fafafa 100%);
}

.ref_gradient_3 {
  background: -webkit-gradient(linear, left top, right top, from(#0073ff), color-stop(8.35059%, #00aaff), color-stop(24.9192%, #4bd0d6), color-stop(41.4879%, #8de7c7), color-stop(49.7722%, #b0f720), color-stop(58.0565%, #f0b800), color-stop(74.6251%, #fb5515), color-stop(91.1938%, #f3363b), to(#c60000));
  background: linear-gradient(to right, #0073ff 0%, #00aaff 8.35059%, #4bd0d6 24.9192%, #8de7c7 41.4879%, #b0f720 49.7722%, #f0b800 58.0565%, #fb5515 74.6251%, #f3363b 91.1938%, #c60000 100%);
}

.ref_gradient_4 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 171, 0, 0)), color-stop(50%, rgba(255, 181, 0, 0.55)), to(#ffd742));
  background: linear-gradient(90deg, rgba(255, 171, 0, 0) 0%, rgba(255, 181, 0, 0.55) 50%, #ffd742 100%);
}

.ref_gradient_5 {
  background: -webkit-gradient(linear, left top, right top, from(#9f55b5), color-stop(8.75%, #2c6abb), color-stop(12.5%, #528bd5), color-stop(18.75%, #67a3de), color-stop(25%, #8ecaf0), color-stop(31.25%, #9bd5f4), color-stop(37.5%, #ace1fd), color-stop(43.75%, #c2eaff), color-stop(50%, #ffffd0), color-stop(56.25%, #fef8ae), color-stop(62.5%, #fee892), color-stop(68.75%, #fee270), color-stop(75%, #fdd461), color-stop(82.5%, #f4a85e), color-stop(87.5%, #f48159), color-stop(93.75%, #f46859), to(#f44c49));
  background: linear-gradient(to right, #9f55b5 0%, #2c6abb 8.75%, #528bd5 12.5%, #67a3de 18.75%, #8ecaf0 25%, #9bd5f4 31.25%, #ace1fd 37.5%, #c2eaff 43.75%, #ffffd0 50%, #fef8ae 56.25%, #fee892 62.5%, #fee270 68.75%, #fdd461 75%, #f4a85e 82.5%, #f48159 87.5%, #f46859 93.75%, #f44c49 100%);
}

footer {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fbfbfb;
  border-top: 1px solid #0000000c;
  -webkit-box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding: 0 32px;
  position: relative;
  z-index: 1;
}

footer #footer_content {
  color: #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  margin: auto;
  width: 100%;
}

footer #footer_content #brand_box #imagotipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer #footer_content #brand_box #imagotipo:hover .isotipo {
  -webkit-filter: drop-shadow(-1px 1px 2px #b5b5b5) contrast(1.125);
          filter: drop-shadow(-1px 1px 2px #b5b5b5) contrast(1.125);
}

footer #footer_content #brand_box #imagotipo #logotipo {
  color: #6b6b6b;
  display: inline-block;
  font-family: monospace;
  margin: auto 0;
  padding: 0 12px 0 3px;
}

@media screen and (max-width: 679px) {
  footer #footer_content #brand_box #imagotipo #logotipo {
    display: none;
  }
}

footer #footer_content #cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer_content #cc span {
  margin: auto 0;
}

footer #footer_content #cc span p {
  display: inline-block;
}

footer #footer_content #cc span p a {
  display: inline-block;
  color: inherit;
  font-size: inherit;
}

header {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fbfbfb;
  border-bottom: 1px solid #0000000c;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #0000000c, 0 -1px 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 2px #0000000c, 0 -1px 1px rgba(255, 255, 255, 0.5) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: padding 0.1s;
  transition: padding 0.1s;
  z-index: 4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header #search_box {
  color: black;
  margin: 16px auto;
  width: 45%;
  max-width: 330px;
  min-width: 210px;
  position: relative;
}

header #search_box[predvisible="true"] #input_query {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
  padding-bottom: 1px;
}

header #search_box[predvisible="true"] #prediction_box {
  display: block;
}

header #search_box #search_btn {
  border-radius: 16px;
  position: absolute;
  padding-right: 3px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

header #search_box #search_btn.loading_box.loading div:first-of-type {
  display: none;
}

header #search_box #search_btn:hover ~ #input_query {
  -webkit-box-shadow: 0 4px 4px #0000000c;
          box-shadow: 0 4px 4px #0000000c;
}

header #search_box #input_query {
  background-color: #ffffff;
  border: 1px solid #0000000c;
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 2px #0000000c;
          box-shadow: 0 1px 2px #0000000c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  height: 32px;
  outline: none;
  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-property: width, -webkit-box-shadow;
  transition-property: width, -webkit-box-shadow;
  transition-property: box-shadow, width;
  transition-property: box-shadow, width, -webkit-box-shadow;
}

header #search_box #input_query:focus, header #search_box #input_query:hover {
  -webkit-box-shadow: 0 4px 4px #0000000c;
          box-shadow: 0 4px 4px #0000000c;
}

header #search_box #input_query::-webkit-input-placeholder {
  color: #b5b5b5;
}

header #search_box #input_query:-ms-input-placeholder {
  color: #b5b5b5;
}

header #search_box #input_query::-ms-input-placeholder {
  color: #b5b5b5;
}

header #search_box #input_query::placeholder {
  color: #b5b5b5;
}

header #search_box #prediction_box {
  background-color: #ffffff;
  border-bottom: 1px solid #0000000c;
  border-left: 1px solid #0000000c;
  border-right: 1px solid #0000000c;
  -webkit-box-shadow: 0 4px 4px #0000000c;
          box-shadow: 0 4px 4px #0000000c;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 32px;
}

header nav {
  padding-top: 1px;
  color: #b5b5b5;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 32px;
  margin: 0 auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header nav ul li {
  display: contents;
}

header nav ul li a {
  padding: 8px 16px 7px;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

main #main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

main #main_content #card_box {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* viewport - search_box - hr - nav - border - hr - to_maps_btn - extra PX */
  min-height: calc(100vh - 64px - 3px - 32px - 1px - 3px - 32px - 1px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 48px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main #main_content #to_maps_btn {
  height: 32px;
  width: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #main_content #weather_maps_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 1200px;
  padding: 16px 16px 48px;
}

main #main_content #notification_box {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

main #main_content #notification_box #notification_content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: auto;
  overflow: hidden;
  padding: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

main #to_top_btn_box {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  padding: 16px;
  position: absolute;
  pointer-events: none;
  right: 0;
}

main #to_top_btn_box #to_top_btn {
  background-color: #fbfbfb;
  border: 1px solid #0000000c;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
  color: #6b6b6b;
  padding: 1px;
  bottom: 16px;
  -webkit-box-shadow: 0 4px 4px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 4px 4px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
  margin-top: auto;
  pointer-events: all;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 3;
}

@media screen and (max-width: 679px) {
  main #main_content #card_box {
    padding: 16px;
    min-height: unset;
  }
  main #main_content #to_maps_btn {
    display: none;
  }
  main #main_content #weather_maps_box {
    padding: 16px;
  }
}

html {
  min-height: 100vh;
}

html body {
  min-height: 100vh;
}

html body #root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  /* #weather_maps_container {
        canvas {
          background: $map_bg;
          background-size: contain;
        }
      } */
}

#globe_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#globe_box #globe_shadow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

#globe_box #globe_shadow span {
  margin: auto;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  -webkit-box-shadow: -60px 30px 55px 140px #00000090;
          box-shadow: -60px 30px 55px 140px #00000090;
}

#globe_box #globe_canvas {
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  z-index: 1;
}

#globe_box #globe_canvas:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media screen and (max-width: 679px) {
  #globe_box #globe_canvas {
    height: 256px;
    width: 256px;
  }
  #globe_box #globe_shadow span {
    -webkit-box-shadow: -30px 15px 28px 60px #00000090;
            box-shadow: -30px 15px 28px 60px #00000090;
  }
}

#labels {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

#labels .city_label {
  font-family: "Roboto";
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  left: 0;
  padding: 0 4px;
  position: absolute;
  pointer-events: all;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: -1px -1px 0 #1f1f1f, 0 -1px 0 #1f1f1f, 1px -1px 0 #1f1f1f, 1px 0 0 #1f1f1f, 1px 1px 0 #1f1f1f, 0 1px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1px 0 0 #1f1f1f, 0 0 2px #1f1f1f;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 679px) {
  #labels .city_label {
    padding: 0 4px;
  }
}

#labels .city_label::before {
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 50%;
  top: -7px;
  position: absolute;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
}

#labels .city_label:hover {
  text-decoration: underline;
}

#map_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#map_box[style*="display: flex"] ~ #labels {
  width: 1026px;
  left: 14px;
  overflow: hidden;
}

#map_box[style*="display: flex"] ~ #labels div.city_label {
  margin-top: 12px;
}

#map_box[style*="display: flex"] ~ #labels div.city_label::before {
  content: "";
}

#map_box #map_canvas_container {
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  height: 482px;
  position: relative;
  overflow: hidden;
  width: 1024px;
  margin: 14px;
  cursor: -webkit-grab;
  cursor: grab;
}

#map_box #map_canvas_container:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media screen and (min-width: 1200px) {
  #map_box #map_canvas_container {
    cursor: default;
  }
  #map_box #map_canvas_container:active {
    cursor: default;
  }
}

#map_box #map_canvas_container #map_canvas {
  position: absolute;
  background: url(https://res.cloudinary.com/wikarot/image/upload/v1560488304/globe_src/texture.png);
  background-size: contain;
  height: 512px;
  top: -15px;
  width: 1024px;
}

@media screen and (max-width: 679px) {
  #map_box[style*="display: flex"] ~ #labels {
    width: 514px;
    left: 7px;
    overflow: hidden;
  }
  #map_box #map_canvas_container {
    height: 240px;
    width: 512px;
    margin: 7px;
  }
  #map_box #map_canvas_container #map_canvas {
    height: 256px;
    width: 512px;
    top: -7px;
  }
}

.custom_radio_container {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.custom_radio_container .custom_radio {
  display: none;
}

.custom_radio_container .custom_radio_lbl {
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.custom_chk_container {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.custom_chk_container.dual_icon .icon:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom_chk_container.dual_icon .icon:last-of-type {
  display: none;
}

.custom_chk_container.dual_icon .custom_chk:checked ~ .icon:first-of-type {
  display: none;
}

.custom_chk_container.dual_icon .custom_chk:checked ~ .icon:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom_chk_container .custom_chk {
  display: none;
}

.custom_chk_container .custom_chk_lbl {
  cursor: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#about {
  background-color: #fbfbfb;
  border: 1px solid #0000000c;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 2px #0000000c, 0 1px 1px rgba(255, 255, 255, 0.5) inset, 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 -1px 1px rgba(255, 255, 255, 0.5) inset, -1px 0 1px rgba(255, 255, 255, 0.5) inset;
  color: #6b6b6b;
  padding: 1px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1px;
  margin: 64px auto;
  min-width: 240px;
  /* #about_body p {
  } */
}

#about div,
#about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about div p,
#about div h3,
#about div h4,
#about div h5,
#about div ul,
#about article p,
#about article h3,
#about article h4,
#about article h5,
#about article ul {
  margin: 8px 0 7px;
  padding: 0 9px;
}

#about div h4,
#about div h5,
#about article h4,
#about article h5 {
  margin-bottom: 0;
}

#about #about_header {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about #about_rss {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about #about_rss #about_rss_header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about #about_rss #about_rss_header #custom_chk_about_chevron ~ .icon {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

#about #about_rss #about_rss_body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

#about #about_rss #about_rss_body[expanded="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about #about_rss #about_rss_body ul li {
  margin-bottom: 7px;
}

#about #about_rss #about_rss_body ul li:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */