$white: #ffffff; // app bg
$grey_light: hsl(0, 0%, 97%); // relief bg
$grey_light_transparent: #00000012; // border and shadows
$grey_dark: hsl(0, 0%, 55%); // detail
$grey_dark_dark: hsl(0, 0%, 15%); // color
$grey_dark_dark_transparent: #00000086; // special shadows
$s: #8bb8ea; // selected predition
$logo_color: #8bb8ea;

$border: 1px solid $grey_light_transparent;
$border_transparent: 1px solid $grey_light_transparent;

$sh_out: 0 1px 2px $grey_light_transparent;
$sh_out_big: 0 4px 4px $grey_light_transparent;
$sh_out_big_center: 0 0 4px $grey_light_transparent;

$w_ia: rgba(255, 255, 255, 0.5) inset;
$sh_in_light_top: 0 1px 1px $w_ia;
$sh_in_light_rig: 1px 0 1px $w_ia;
$sh_in_light_bot: 0 -1px 1px $w_ia;
$sh_in_light_lef: -1px 0 1px $w_ia;
$sh_in_light: $sh_in_light_top, $sh_in_light_rig, $sh_in_light_bot, $sh_in_light_lef;

$fast: 0.1s;
$slow: 0.2s;

$font_small: 12px;
$font_normal: 14px;
$font_normal_x2: 28px;
$font_big: 49px;

$map_bg: url(/this.weather/images/texture-512.png);
$ref_gradient_bg: url(../images/grad_bg.png);

@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1199px) and (min-width: 680px) {
}
@media screen and (max-width: 679px) {
}
@media screen and (max-width: 425px) {
}
