#labels {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  .city_label {
    font-family: "Roboto";
    $grey_dark_dark: #1f1f1f;
    color: $white;
    font-size: 12px;
    left: 0;
    padding: 0 4px;
    position: absolute;
    z-index: 2;
    text-shadow: -1px -1px 0 $grey_dark_dark, 0 -1px 0 $grey_dark_dark, 1px -1px 0 $grey_dark_dark,
      1px 0 0 $grey_dark_dark, 1px 1px 0 $grey_dark_dark, 0 1px 0 $grey_dark_dark, -1px 1px 0 $grey_dark_dark,
      -1px 0 0 $grey_dark_dark, 0 0 2px $grey_dark_dark;
    width: max-content;
    @media screen and (max-width: 679px) {
      padding: 0 4px;
    }
    &::before {
      border: 1px solid black;
      box-sizing: border-box;
      left: 50%;
      top: -7px;
      position: absolute;
      border-radius: 1px;
      width: 4px;
      height: 4px;
      background-color: $white;
    }
  }
}
