main {
  background-color: $white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  min-width: min-content;
  #main_content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    #card_box {
      align-content: center;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      /* viewport - search_box - hr - nav - border - hr - to_maps_btn - extra PX */
      min-height: calc(100vh - 64px - 3px - 32px - 1px - 3px - 32px - 1px);
      justify-content: center;
      margin: 0 auto;
      max-width: 1200px;
      //min-height: fit-content;
      padding: 48px 16px;
      width: fit-content;
    }
    #to_maps_btn {
      @include square(32px);
      align-self: center;
    }
    #weather_maps_box {
      display: flex;
      box-sizing: border-box;
      margin: auto;
      width: min-content;
      max-width: 1200px;
      padding: 16px 16px 48px;
    }
    #notification_box {
      bottom: 0;
      display: flex;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      #notification_content {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: auto;
        overflow: hidden;
        padding: 16px;
        position: sticky;
        top: 0;
        z-index: 3;
      }
    }
  }
  #to_top_btn_box {
    bottom: 0;
    display: flex;
    top: 0;
    padding: 16px;
    position: absolute;
    pointer-events: none;
    right: 0;
    #to_top_btn {
      @include relief;
      bottom: 16px;
      box-shadow: $sh_out_big, $sh_in_light;
      margin-top: auto;
      pointer-events: all;
      position: sticky;
      transition: transform $fast;
      transform: scale(0);
      z-index: 3;
    }
  }
}
