main {
  background-color: $white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  min-width: min-content;
  #main_content {
    display: flex;
    position: relative;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    #card_box {
      align-content: center;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 1200px;
      padding: 48px 16px;
      width: fit-content;
    }
    #notification_box {
      bottom: 0;
      display: flex;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      #notification_content {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: auto;
        overflow: hidden;
        padding: 16px;
        position: sticky;
        top: 0;
        z-index: 3;
      }
    }
  }
  #weather_maps_box {
    display: flex;
    box-sizing: border-box;
    margin: auto;
    width: min-content;
    max-width: 1200px;
    padding: 48px 16px;
  }
  #to_top_btn_box {
    bottom: 0;
    display: flex;
    top: 0;
    padding: 16px;
    position: absolute;
    pointer-events: none;
    right: 0;
    #to_top_btn {
      @include relief;
      bottom: 16px;
      box-shadow: $sh_out_big, $sh_in_light;
      margin-top: auto;
      pointer-events: all;
      position: sticky;
      transition: transform $fast;
      transform: scale(0);
      z-index: 3;
    }
  }
  @media screen and (max-width: 679px) {
    & {
      #main_content {
        #card_box {
          padding: 16px;
          min-height: unset;
        }
        #weather_maps_box {
          padding: 16px;
        }
      }
    }
  }
}
